<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


  <div class="page-limit">
    <h1>Add Expense</h1><br>
    <form action="/expense/input" method="post">
      <label>
        <p>Category</p>
          <select id="cat" name="category">
            <option disabled selected value> - select a category -</option>
            <option value=1>Food & Drinks</option>
            <option value=2>Transport</option>
            <option value=3>Entertainment</option>
          </select>
      </label> <br><br>

      <label>
        <p>Description</p>
        <input type="text" name="desc">
      </label><br><br>

      <label>
        <p>Expenses</p>
        <input type='text' id="expen" name="exp">
      </label><br><br>

      <label>
        <p>Date<p>
        <input type='date' id="date" name="date"> <p id="valid"></p>
      </label><br><br>

      <button type='submit' onclick="return validation()" id="limit-submit">Submit</button>
      <br><br>
      <!-- <a href='/expense/result'>Result Page</a> -->
    </form>
  </div>
    <script>
      function validation() {
        let x = document.getElementById('expen').value,
            cat = document.getElementById('cat').value,
            text = ''

        if(isNaN(x) || x < 0 || cat == ''){
          text = 'Please input a valid number'
          document.getElementById('valid').innerHTML = text
          return false
        } else {
          return true
        }

      }
    </script>

  </body>
</html>
